{% extends "base.html" %}
{% load tags %}
{% load staticfiles %}

{% block title %} - Observations{% endblock %}

{% block content %}
  <h1>
    Observations
    {% if user.is_authenticated == 1 %}
      <a class="btn btn-primary pull-right" href="{% url 'base:observation_new' %}">New Observation</a>
    {% endif %}
  </h1>

  <button class="btn btn-default btn-sm" role="button" data-toggle="collapse"
          href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Filters
  </button>
  <a class="btn btn-default btn-sm" role="button" href="#legend" data-toggle="modal" data-target="#LegendModal">
      <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Legend
  </a>

  <div class="collapse{% if norad %} in{% endif %}" id="collapseFilters">
    <div class="filter-section">
      <form id="satellite-filter" class="form-inline" methon="get" action="{% url 'base:observations_list' %}">
        <div class="form-group">
          <h4>Data:</h4>
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-sm {% if bad == '1' %}active{% endif %}"  aria-expanded="true" aria-controls="bad">
              <input type="checkbox" name="bad" {% if bad == '1' %}checked{% endif %} autocomplete="off">Bad
            </label>
            <label class="btn btn-default btn-sm {% if unvetted == '1' %}active{% endif %}"  aria-expanded="true" aria-controls="unvetted">
              <input type="checkbox" name="unvetted" {% if unvetted == '1' %}checked{% endif %} autocomplete="off">Unvetted
            </label>
            <label class="btn btn-default btn-sm {% if good == '1' %}active{% endif %}"  aria-expanded="true" aria-controls="good">
              <input type="checkbox" name="good" {% if good == '1' %}checked{% endif %} autocomplete="off">Good
            </label>
          </div>
          <h4>Satellite:</h4>
          <select class="form-control" name="norad" autocomplete="off" id="satellite-selection">
            <option value="" selected>All</option>
            {% for satellite in satellites %}
              <option data-norad="{{ satellite.norad_cat_id }}" value="{{ satellite.norad_cat_id }}"
                      {% ifequal satellite.norad_cat_id norad %}selected{% endifequal %}>
                {{ satellite.norad_cat_id }} - {{ satellite.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Satellite</th>
          <th>Frequency</th>
          <th>Encoding</th>
          <th>Timeframe</th>
          <th>Observer</th>
          <th>Station</th>
        </thead>
        <tbody>
          {% for observation in observations %}
            <tr data-norad="{{ observation.satellite.norad_cat_id }}"
                {% if observation.id in scheduled %}class="bg-info"{% endif %}>
              <td>
                <a href="{% url 'base:observation_view' id=observation.id %}">
                  {% if observation.is_verified %}
                    <span class="label label-success" title="There is known good data in this observation"
                  {% elif observation.is_future %}
                    <span class="label label-info" title="This observation is in the future"
                  {% elif not observation.is_vetted %}
                    <span class="label label-warning" title="There is data that needs vetting in this observation"
                  {% else %}
                    <span class="label label-danger" title="No good data in this observation"
                  {% endif %}>
                  {{ observation.id }}
                  </span>
                </a>
              </td>
              <td>
                <a href="#" data-toggle="modal" data-target="#SatelliteModal" data-id="{{ observation.satellite.norad_cat_id }}">
                  {{ observation.satellite.name }}
                </a>
              </td>
              <td>{{ observation.transmitter.downlink_low|frq }}</td>
              <td>{{ observation.transmitter.mode|default:"-" }}</td>
              <td>
                <span class="datetime-date">{{ observation.start|date:"Y-m-d" }}</span>
                <span class="datetime-time">{{ observation.start|date:"H:i:s" }}</span><br>
                <span class="datetime-date">{{ observation.end|date:"Y-m-d" }}</span>
                <span class="datetime-time">{{ observation.end|date:"H:i:s" }}</span>
              </td>
              <td>
                <a href="{% url 'users:view_user' username=observation.author.username %}">
                  {{ observation.author.displayname }}
                </a>
              </td>
              <td>
                <a href="{% url 'base:station_view' id=observation.ground_station.id %}">
                  {{ observation.ground_station }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}{% load paginator %}{% paginator request 3 %}{% endif %}
    </div>
  </div>
  {% include 'includes/satellite.html' %}
  {% include 'includes/legend.html' %}
{% endblock content %}

{% block javascript %}
  <script src="{% static 'js/observations.js' %}"></script>
  <script src="{% static 'js/satellite.js' %}"></script>
{% endblock javascript %}
